@import "tailwindcss";

:root {
  background-color: #000000; 
  color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}

@layer utilities  {
  .glass-panel {
    @apply relative overflow-hidden  border border-white/10 bg-transparent shadow-xl;
  }

  .glass-panel::before {
    content: "";
    @apply absolute inset-0 -z-20 bg-[#0a0a0a]/30 backdrop-blur-xl;
  }

  .glass-panel::after {
    content: "";
    @apply absolute inset-0 -z-10 bg-gradient-to-br from-white/10 via-transparent to-transparent backdrop-blur-[1px];
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.15);
  }
  
}
  